.terminal {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
    cursor: default;


    .nav {
        width: 100%;
        .controls {
            background-color: rgba(45, 43, 43, 0.526);
            padding: 0.2rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;

            .red {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: red;
            }
            .red:hover{
                scale: 0.5;
                
            }

            .yellow {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: yellow;
            }

            .green {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: green;
            }

            .title {
                margin-left: 2rem;
                display: flex;
                align-items: center;
                gap: 3rem;
                color: white;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

        }

    }
    .content{
        height: 100%;
        color: white;
        
    }
}