.btn{
    display: flex;
    justify-content: end;
    button{
            padding: 1rem;
            background-color: transparent;
            color: white;
            border-radius: 0.75rem;
            border: 1px solid rgb(242, 197, 197);

    }
}