.Dock {
    background-color: #380611a9;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    gap: 0.7rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    padding-block: 0.5rem;
    padding-inline: 1rem;

    .Elements {
        display: flex;
        border-radius: 0.3rem;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        aspect-ratio: 1/1;
        width: 3rem;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #github,
    #cli {
        background-color: black;
    }

    #mail,
    #calender {
        background: linear-gradient(to bottom, rgb(24, 149, 216), rgb(6, 79, 119));
    }

    #note {
        background: linear-gradient(to bottom, rgb(239, 185, 77), rgb(226, 131, 7));
    }

    #pdf {
        background: linear-gradient(to bottom, rgb(209, 62, 62), rgb(231, 28, 28));
    }

    #spotify {
        background: linear-gradient(to bottom, rgb(46, 180, 5), rgb(31, 119, 2));
    }

    #link {
        background: linear-gradient(to bottom, rgb(230, 82, 230), rgb(136, 17, 136));
    }
    .Elements:hover{
        transform: scale(1.3) translateY(-20%);
    }
    .Elements:hover + .Elements,
    .Elements:has(+ .Elements:hover){
        transform: scale(1.1) translateY(-12%);
    }

}