.cards{
    height: 100%;
    overflow: auto;
    padding: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 6rem;
    .card{
        max-width: 20rem;
        background-color: rgb(27, 27, 27);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;

        img{
            width: 100%;
        }
        h1{
            font-size: 2rem;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .tag{
                padding: 0.3rem;
                background-color: rgb(89, 88, 88);
                width: fit-content;
                border-radius: 0.7rem;

            }
        }
        .links{
            display: flex;
            justify-content: space-between;
            
            a{
                text-decoration: none;
                background-color: rgb(81, 81, 82);
                padding: 0.8rem;
                border-radius: 0.7rem;
                color: antiquewhite;
            }
        }
    }
}