nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #380611a9;
    backdrop-filter: blur(8px);

    .left,
    .right {
        display: flex;
        gap: 1rem;

        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
}