*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body,#root
{
    overflow: hidden;
    height: 100%;
    width: 100%;
     background-color: #0a0a0a;
}
main{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
}
    h1{
        color: white;
    }

main.refresh{
        animation: refreshFade 0.15s ease-in-out;
    }
    @keyframes refreshFade 
    { from { opacity: 0 } 
    to { opacity: 1 } 
}