*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body,#root
{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        color: white;
    }
}